body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
dl,
dt,
dd,
ol,
ul,
li,
form,
table,
th,
td,
a,
img,
span,
strong,
var,
em,
input,
textarea,
select,
option {
    margin: 0;
    padding: 0;
}

html,
body{
    font-size: 12px;
    text-align: left;
    min-width: 1000px;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0;
}

input,
select,
textarea {
    outline: 0;
}

textarea {
    resize: none;
    overflow: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
strong,
var,
em {
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
}

p {
    font-size: 12px
}
/*==========================Reset_End===========================*/

/* 页面头部 */

/*头部*/
.onColor{
    color: #ef6a4b;
}
header{
    width: 100%;
    border-bottom: 1px solid #babbbb;
    box-shadow: 0 0 5px #cecfcf inset;
    overflow: hidden;
}

.header_box {
    width: 1000px;
    height: 30px;
    line-height: 30px;
    margin: 20px auto 0;
}

/*logo*/
.logo {
    float: left;
    margin:-25px 20px 0 0;
}

.logo:hover {
    animation: logo ease-in infinite 1.5s;
}

.logo img {
    margin-top: 11px;
    width: 132px;
    height: 52px;
}

@keyframes logo {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .6;
    }

    100% {
        opacity: 1;
    }
}

/*导航*/

.header_box ul>li {
    float: left;
    padding: 0 25px;
    font-size: 19px;
}

.header_box li>a:hover {
    color: #ef6a4b;
}

/*搜索 注册*/
.register {
    float: left;
    margin-left: 262px;
}

.register .sea {
    display: inline-block;
    background: url("../img/search.png") no-repeat;
    height: 33px;
    width: 25px;
    vertical-align: middle;
    margin: 0 8px;
    transition: transform 0.08s ease;
}


.register .sea:hover {
    transform: scale(1.2);
}

.register .res {
    display: inline-block;
    margin: 0 8px;
    width: 54px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #ff413d;
    color: #ff413d;
    border-radius: 3px;
    font-size: 16px;
}

.register .res:hover {
    background: #ff413d;
    color: #fff;
}
    /* 页面底部 */
footer {
    background: #505050;
    height: 320px;
    padding-top: 40px;
}

.footer_img1 {
    width: 160px;
    height: 160px;
}

.footer_div {
    width: 1005px;
    min-width: 1005px;
    margin: auto;
}

.footer_div a {
    color: #a3a3a3;
}

.footer_div dl {
    font-size: 12px;
    float: left;
    margin: 0 13px;
}

.footer_div dl dt {
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
}

.footer_logo dd {
    padding-bottom: 18px;
}

.footer_div dl dd {
    margin-bottom: 4px;
}

.link dd a {
    display: inline-block;
    width: 69px;
}

.footer_p {
    text-align: center;
    font-size: 13px;
    color: #a3a3a3;
    margin-top: 280px;
}
